@{
    ViewData["Title"] = "Create | Job";
}

@model Job

<div class="container">
    <div class="row">
        <h2 class="text-center m-4">Create a new Offer</h1>
        <div class="col-3 ">
            <div class="card shadow" style="height: 93.5%;">
                <div class="card-body text-center m-3">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/home.png" alt="" style="width: 40px;" class="mb-2">
                    </a>
                    <a asp-controller="Jobs" asp-action="Create" class="btn btn-outline-primary shadow mb-3" style="width: 200px;">Create a new Offer</a>
                    <a asp-controller="Jobs" asp-action="Index" class="btn btn-outline-primary shadow" style="width: 200px;">List Jobs</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card shadow mb-5">
                <div class="card-body">
                    <form asp-controller="Jobs" asp-action="Add" method="post" class="row" enctype="multipart/form-data">
                        <div class="row ">
                            <h2 class="text-center mb-4 ">Job information</h2>
                            <div class="form-grup col-6" >
                                <label asp-for="NameCompany"></label><br>
                                <input asp-for="NameCompany" class="form-control">
                            </div>

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="LogoCompany"></label><br>
                                <input asp-for="LogoCompany" type="file" class="form-control" name="imagen" id="ejemplo">
                                <select name="ubicacion">
                                    <option value="">Add</option>
                                    <option value="0">Documents</option>
                                    <option value="1">Images</option>
                                    <option value="2">Uploads</option>
                                    <option value="3">Temps</option>
                                </select>                                
                            </div>
                            <hr class="m-2">                            
                        </div>


                        <div class="row">
                            <h2 class="text-center m-4">Offer information</h2>
                            <div class="form-grup mb-4 col-6">
                                <label asp-for="OfferTitle"></label><br>
                                <input asp-for="OfferTitle" class="form-control">

                            </div>

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="Country"></label><br>
                                <input asp-for="Country" class="form-control">
                            </div>

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="Salary"></label><br>
                                <input asp-for="Salary" class="form-control">
                            </div>

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="Positions"></label><br>
                                <input asp-for="Positions" class="form-control">
                            </div>

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="Languages"></label><br>
                                <input asp-for="Languages" class="form-control">
                            </div>                            

                            <div class="form-grup mb-4 col-6">
                                <label asp-for="Status"></label><br>
                                <select asp-for="Status" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>                    
                                </select>
                            </div>

                            <div class="form-grup mb-4 col-12">
                                <label asp-for="Description"></label><br>
                                <textarea  asp-for="Description" class="form-control" style="height: 90px;">
                                </textarea>
                            </div>

                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-primary text-center shadow form-control mb-3">Create new Job</button> 
                        </div>
                        
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>







